@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   .weather_card{
    @apply  flex flex-row gap-1 items-center h-32 rounded p-4 shadow-xl min-w-[100%] justify-center text-blue-950 text-2xl text-center
      }
    
    .history{
      @apply gap-2
    }

    .history>span{
      @apply underline cursor-pointer text-gray-600 text-xs 
      /* after:content-[','] */
    }

    }


.plus{
  color:mediumaquamarine;
  transition: all 0.5s ease;
  transform: scale(125%);
}

.plus:hover{
  transform: scale(135%);
}
.minus{
  color: darksalmon;
  transition: all 0.5s ease;
}

.fixed-town:hover .minus{
  opacity: 1;
  z-index: 10;
  transform: scale(125%);
}

.fixed-town:hover .fixed-town-data{
  transition: all 0.5s ease;
  opacity: 0.4;
}

.material-symbols-outlined{
  cursor: pointer;
}

.expand{
  transform: rotate(180deg);
  transition: ease 0.3s
}

.expand:hover{
  transform: translateY(5px) rotate(180deg);

}

#town_widget{
  transition: all ease 0.7s;
}

.loader {
  height: 30px;
  aspect-ratio: 6;
  --c: #0000 64%,#169bcf 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 25% 100%;
  background-size: calc(100%/3) 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l2 0.7s infinite linear;
}
@keyframes l2{
  90%,to {clip-path: inset(0)}
}